/**{
    border: 1px solid red;
}*/
body {
    margin: 0;
    padding: 0;

}

nav {

    background-color: lightgray;
}

.navButton{

    display: inline-block;
    background-color: gray;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    width: 80px;
    height: 50px;
    text-align: center;


}
#leftColumn {
    
    float: left;
    width: 30%;    height: 700px;
    background-color: blue;
    margin: 0;

}
   
.darwin {
    
    width: 100px;
    margin-left: 25px;
    margin-top: 25;
}

#main {

    float: right;
    width: 70%;
    height: 700px;
    background-color: rgb(36, 211, 45);
    margin: 0;

}

.imageDiv{
   
    background-color: rgba(160, 79, 25, 0.733);
    margin: 0;
}
.listDiv{

    background-color: red;
    height: 500px;
}